

python-dotenv
redis
structlog
fastapi
uvicorn
langchain
langchain-core
langgraph
pydantic
sentence-transformers
faiss-cpu
torch
transformers
langchain-community
langchain-groq
langchain-huggingface
torchvision
torchaudio

pypdf
docx2txt
duckduckgo-search
python-multipart
moviepy
Pillow
pyjwt
bcrypt
numpy
