

python-dotenv==1.0.1
redis==5.0.8
structlog==24.4.0
fastapi
uvicorn
langchain
langchain-core
langgraph
pydantic>=2.7,<3
sentence-transformers
faiss-cpu
torch
transformers
langchain-community
langchain-groq
langchain-huggingface==0.1.2
torchvision==0.19.1
torchaudio==2.4.1

pypdf==5.0.1
docx2txt==0.8
duckduckgo-search==6.3.0
python-multipart==0.0.9
moviepy==1.0.3
Pillow>=10.0.0
pyjwt==2.8.0
bcrypt==4.1.2
numpy>=1.26.4,<2.0.0
